@font-face {
  font-family: tektur;
  src: url(../fonts/Tektur-Regular.ttf);
}
@font-face {
  font-family: tekturBold;
  src: url(../fonts/Tektur-Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --color-dark-black: #000;
  --color-light-black: #333;
  --color-dark-white: #eee;
  --color-light-white: #fff;
  --color-A: #285CA6;
  --color-B: #70ACFF;
  --color-C: #5395F1;
  --color-D: #A67517;
  --color-E: #F2BC52;

  --width-maximum-content: 1800px;
  --width-navbar-max: var(--width-maximum-content);
  --width-sidebar-left: 300px;
  --width-sidebar-right: 300px;
  --width-footer-max: var(--width-maximum-content);

}

body {
  background-color: var(--color-E);
}
