@media (max-width: 1500px) {
  main {
    grid-template-columns: var(--width-sidebar-left) 1fr;
  }
  .right__sidebar {
    display: none;
  }
}
@media (max-width: 1025px) {
  main {
    grid-template-columns: 1fr;
  }
  .left__sidebar {
    display: none;
  }
  .top__nav #hamburger {
    display: flex;
  }
  .top__nav .horizontal {
    display: none;
  }
}
